<?xml version="1.0"?>
<model>
  <name>3DR Iris with downward kinect</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_down_kinect.sdf</sdf>

  <author>
   <name>Danny</name>
   <email>arwagoner@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an downward kinect.
  </description>
</model>
